body {
    font-family: REM Regular;
}

.modified-nav-link {
    color: #000;
}

.modified-nav-pills .modified-nav-link.active {
    color: #000;
    background-color: #eeeeee;
}

.modified-nav {
    --bs-nav-link-hover-color: #000000;
}

.tab-content-links a {
    color: #000;
    text-decoration: none;
}

.tab-content-links a:hover, a:focus, a:active {
    text-decoration: underline;
}

.avatar {
    height: 200px;
    width: 200px;
}

.avatar img {
    width: 100%;
    border-radius: 10px;
}

.social-handle-icon {
    height: 25px;
    width: 25px;
}

.social-handle-icon img {
    width: 100%;
    border-radius: 4px;
}

.REM-light {
    font-family: REM Light;
}